* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

ol,
ul {
  list-style-type: none;
}

ol,
ul,
li {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
header,
footer,
section,
main,
aside,
article,
table,
th,
tr,
td,
label,
input,
select,
textarea,
button {
  padding: 0;
  margin: 0;
}

input,
textarea,
select {
  border: none;
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

/* navbar start  */
.header {
  width: 100%;
  background: #f6f6f6;
}
.navbar .dropdown-toggle::after {
  display: none !important;
}

.headerLeft span {
  font-size: 14px;
  color: #000;
  font-weight: 300;
}
.headerRight .dropdown-toggle,
.headerLeft .dropdown-toggle {
  font-size: 14px;
  color: #000;
  font-weight: 700;
}
.headerRight .dropdown:hover .dropdown-menu,
.headerLeft .dropdown:hover .dropdown-menu {
  display: block;
}

.headerLeft .dropdown-menu .dropdown-item {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.headerRight button {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  padding: 0 10px;
  display: inline-block;
  transition: all linear 0.4s;
}

.headerRight button:hover {
  color: #008738;
}

.menuBar .nav-item .nav-link {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  padding: 0 15px;
  text-transform: capitalize;
  transition: all linear 0.4s;
}

.menuBar .nav-item .nav-link:hover {
  color: #008738;
}

.menuBar .dropdown:hover .dropdown-menu {
  display: block;
}

.navBtn .login {
  padding: 5px 20px;
  background: #008738;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  transition: all linear 0.4s;
  display: inline-block;
}

.bannerSlider .carousel-item img {
  height: 400px;
  object-fit: cover;
}

.bannerSlider .carousel-caption {
  left: 0;
  padding-left: 15px;
  padding-right: 40%;
  padding-bottom: 100px;
}

.bannerSlider .carousel-caption h1 {
  color: #fff;
  font-size: 47px;
  line-height: 59px;
  font-weight: 700;
  margin-bottom: 20px;
}

.bannerSlider .carousel-caption p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}

.bannerSlider .carousel-caption a.lrnBtn {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 40px;
  background: #008738;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  transition: all linear 0.4s;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.carousel-indicators {
  background: rgba(0, 0, 0, 0.5);
  margin-left: 45%;
  margin-right: 45%;
  border-radius: 40px;
}

/* service part start  */
.serviceItem .custom-icon {
  filter: invert(24%) sepia(94%) saturate(3015%) hue-rotate(210deg)
    brightness(97%) contrast(106%);
  margin-bottom: 20px;
}

.serviceItem .custom-icon:hover {
  filter: invert(36%) sepia(91%) saturate(1633%) hue-rotate(130deg)
    brightness(96%) contrast(101%);
  transition: 0.4s;
}

.serviceItem a h4 {
  color: #000;
  font-size: 18px;
  line-height: 23px;
  font-weight: 300;
}
/* whatPart start  */
.whatPart {
  padding: 60px 0px;
  background: #f6f6f6;
}
.awardHead h3,
.whatHead h3 {
  color: #000;
  font-size: 30px;
  line-height: 38px;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 20px;
  padding-left: 15px;
}

.whatSliderItem {
  transition: all linear 0.4s;
}

.sliderImage {
  transition: all linear 0.4s;
}
.sliderContent {
  background: #fff;
}
.sliderContent h4 {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.sliderContent p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #000;
  margin-bottom: 20px;
}

.sliderContent a.moreBtn {
  display: inline-block;
  color: #555;
  font-size: 12px;
  line-height: 17px;
  font-weight: 300;
  text-transform: capitalize;
  transition: all linear 0.4s;
  opacity: 0;
}

.whatSliderItem:hover .sliderContent a.moreBtn {
  opacity: 1;
}

.whatSlider .owl-nav .owl-prev .fa-angle-left {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  line-height: 40px;
  position: absolute;
  left: 15px;
  top: 50%;
  z-index: 22;
  transform: translateY(-50%);
}

.whatSlider .owl-nav .owl-next .fa-angle-right {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  line-height: 40px;
  position: absolute;
  right: 15px;
  top: 50%;
  z-index: 22;
  transform: translateY(-50%);
}

.indivisualPart h3 a {
  display: inline-block;
  color: #000;
  font-size: 30px;
  line-height: 38px;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 20px;
}

.indiContent h4 {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.indiContent p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #000;
}

/* whatPart end  */

/* smartImage start  */
.smartImage {
  position: relative;
}

.smartImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.smartContent {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 4;
  padding: 50px;
}

.smartContent h5 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #fff;
}

.smartContent h4 {
  color: #fff;
  font-size: 30px;
  line-height: 38px;
  text-transform: capitalize;
  font-weight: 200;
  margin-bottom: 20px;
}

.smartContent a {
  padding: 10px 30px;
  border-radius: 40px;
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  transition: all linear 0.4s;
  cursor: pointer;
}

.smartContent a:hover {
  background: #fff;
  color: #000;
}

/* awardPart start  */
.awardPart {
  padding: 60px 0px;
  background: #f6f6f6;
}

.awardItem {
  transition: all linear 0.4s;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  border: 2px solid #fff;
}

.awardItem span {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.awardItem img {
  margin: 20px 0 !important;
  opacity: 0.5;
  transition: all linear 0.4s;
}

.awardItem h4 {
  font-size: 16px;
  text-transform: capitalize;
  color: #000;
  font-weight: 500;
  margin-bottom: 10px;
}

.awardItem p {
  font-size: 14px;
  color: #000;
  font-weight: 400;
}

.awardItem:hover {
  border-color: #008738;
}
.awardItem:hover img {
  filter: sepia(100%) hue-rotate(90deg) saturate(300%) brightness(80%);
  opacity: 1;
}

/* informationPart start  */
.informationPart {
  padding: 60px 0px;
  background: #fff;
}

.informationHead h3 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 300;
  text-transform: capitalize;
  color: #0c77b9;
}

.informationHead a {
  display: inline-block;
  color: #555;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
}

.infomationItem ul li a {
  display: inline-block;
  color: #000;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 10px;
}

.infomationItem ul li i {
  color: #008738;
}
/* informationPart end  */

/* footer start  */
.footer {
  padding: 60px 0px 30px;
  background: #2b2929;
}

.ftItem ul li a {
  display: inline-block;
  color: #b7b7b7;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
  transition: all linear 0.4s;
  cursor: pointer;
}

.ftItem ul li a:hover {
  color: #fff;
}

.ftItem a {
  display: block;
  margin-bottom: 10px;
}
.copyPart p {
  color: #b7b7b7;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
}

.copyPart ul li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #666;
  color: #fff;
  text-align: center;
  line-height: 40px;
  transition: all linear 0.4s;
  cursor: pointer;
  display: inline-block;
}

.copyPart ul li a:hover {
  background: #0c77b9;
}
/* footer end  */
